<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Brayan Saldarriaga">
	<meta name="description" content="recargas">
	<title>SISTEMAS DE RECARGAS ELECTRICAS</title>
	<meta name="viewport" content="width=device=width, user-scalable=no">
</head>
<body>
	<h1>----------------------PITH-------------------------</h1>
	<h1>SISTEMA DE RECARGAS ELECTRICAS</h1>
	<h2>El tiempo actual del servidor es: {{ time }}</h2>
	
	<h2>ULTIMOS MOVIMIENTOS HECHOS POR LA SUCURSAL</h2>
		<table border="2">
		<tbody>
			<tr>
				<th><h2>MOVIMIENTO</h2></th>
				<th><h2>HORA EXACTA</h2></th>
				<th><h2>KW/H CARGADOS</h2></th>
			</tr>
			<tr>
				<th><h3> 1 </h3></th>
				<th><h3>{{ valor1 }}</h3></th>
				<th><h3>{{ valor11 }}</h3></th>
			</tr>
			<tr>
				<th><h3> 2</h3></th>
				<th><h3>{{ valor2 }}</h3></th>
				<th><h3>{{ valor12 }}</h3></th>
			</tr>
			<tr>
				
				<th><h3> 3</h3></th>
				<th><h3>{{ valor3 }}</h3></th>
				<th><h3>{{ valor13 }}</h3></th>
			</tr>
			<tr>
				
				<th><h3> 4</h3></th>
				<th><h3>{{ valor4 }}</h3></th>
				<th><h3>{{ valor14 }}</h3></th>
			</tr>
			<tr>
				
				<th><h3> 5</h3></th>
				<th><h3>{{ valor5 }}</h3></th>
				<th><h3>{{ valor15 }}</h3></th>
			</tr>
			<tr>
				
				<th><h3> 6</h3></th>
				<th><h3>{{ valor6 }}</h3></th>
				<th><h3>{{ valor16 }}</h3></th>
			</tr>
			<tr>
				
				<th><h3> 7</h3></th>
				<th><h3>{{ valor7 }}</h3></th>
				<th><h3>{{ valor17 }}</h3></th>
			</tr>
			<tr>
				
				<th><h3> 8</h3></th>
				<th><h3>{{ valor8 }}</h3></th>
				<th><h3>{{ valor18 }}</h3></th>
			</tr>
			<tr>
				
				<th><h3> 9</h3></th>
				<th><h3>{{ valor9 }}</h3></th>
				<th><h3>{{ valor19 }}</h3></th>
			</tr>
			<tr>
				
				<th><h3> 10</h3></th>
				<th><h3>{{ valor10 }}</h3></th>
				<th><h3>{{ valor20 }}</h3></th>
			</tr>
			
			
			</tbody>
		</table>
	<h3>AUTORES</h3>
	<h4>Nombres:</h4>
		<p>Brayan Javier Saldarriaga Mesa Cod.3640</p>
		<p>Felipe Coral Otalora Cod.3611</p>
		<p>Juan Esteban Veléz Cod.3641</p>
		<p>Cristian Alexis Angarita Cod.3603</p>
		<p>David Sebastian Leon Cod.3322</p>
	
	<h3>Agradecimientos:</h3>
		<p>Ing. Carlos Goméz</p>
		
		<br>
		<br>
		<br>
	<h2>Proyectos hechos en 12 horas. contactenos: 3223860931</h2>

</body>
<footer>
	
</footer>
</html>